h1{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}
form{
  text-align: center;  
}
select{
    width: 200px;
    height: 30px;
}

img{
  width: 400px;
  border-radius: .5rem;
}
.parent{
  display: flex;
  margin: 1rem 0;
}
.description{
  margin-left: 1.8rem;
  margin-top: .8rem;
  width: 500px;
}
small{
  background-color: rgb(142, 142, 226);
  border-radius: 17px;
  padding: .8rem;
  color: white;
}
a{
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 1rem;
  margin-left: 320px;
}
p{
  font-weight: 900;
  padding: .5rem 0;
  font-size: 22px;
}
body{
  background-color: bisque;
}