h1{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}
input{
    width: 15%;
    height: 25px;
   
    
}
div{
    text-align: center;
}
.photos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

img{
    margin-top: 3em;
    border-radius: 9px;
}