h1{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px 0px;
}
input{
    width: 15%;
    height: 25px;
   
    
}
div{
    text-align: center;
}

img{
    border-radius: 50%;
    height: 175px;
    width: 175px;
}
cite {
    font-weight: 800;
    font-size: 32px;
}
.githubUser{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    height: 340px;
    justify-content: space-around;
    margin-top: 2rem;
}
h2{
    text-align: center;
}
.cats{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
img{
    margin-bottom: 1rem;
}
button{
    width: 10%;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}